<div class="appHeaderBlock">
  <h1>
    Скачивайте приложение и получите доступ к 1200 вакансиям
  </h1>
</div>
<div nz-row [nzGutter]="[24,24]" class="qrBlocks">
  <div nz-col nzLg="12" nzXs="24">
    <div class="greyBg br20px">
      <div class="qrBlock">
        <img src="assets/images/iosQR.png"/>
      </div>
      <div class="desc">
        <h4>Приложение в AppStore</h4>
        <p>Скачивайте приложение и получите доступ к 1 200 вакансиям</p>
        <a class="mobileLink" target="_blank" href="https://apps.apple.com/kz/app/hr-assistant-kazakhstan/id6472054690" nz-button nzType="primary">Скачать</a>
      </div>
    </div>
  </div>
  <div nz-col nzLg="12" nzXs="24">
    <div class="greyBg br20px">
      <div class="qrBlock">
        <img src="assets/images/andoridQR.png"/>
      </div>
      <div class="desc">
        <h4>Приложение в GooglePlay</h4>
        <p>Скачивайте приложение и получите доступ к 1 200 вакансиям</p>
        <a class="mobileLink" target="_blank" href="https://play.google.com/store/apps/details?id=kz.hr.assistanhr" nz-button nzType="primary">Скачать</a>
      </div>
    </div>
  </div>
</div>
