<div nz-row class="topPanel">
  <div nz-col nzSpan="8">
    <div class="logo">
      <img src="assets/outline/logo.svg" alt="logo"/>
      <h2>HR assistant
        <p class="logoText">База актуальных профилей</p></h2>
    </div>
  </div>
  <div nz-col nzSpan="12" nzOffset="4">
    <div class="menu">
      <div class="menuItem" routerLink="" routerLinkActive="activeMenu">Работодателям</div>
      <div class="menuItem" routerLink="search" routerLinkActive="activeMenu">Поиск сотрудника</div>
      <div class="menuItem" routerLink="app" routerLinkActive="activeMenu">Соискателям</div>
      <button nz-button nzType="default" class="loginBtn">
        <i nz-icon nzType="login"></i> Войти
      </button>
    </div>
  </div>
</div>

