<div nz-row [nzGutter]="[24,24]">
  <div nz-col nzLg="8" nzXs="24">
    <div class="logo">
      <img src="assets/outline/logo.svg" alt="logo"/>
      <h2>HR assistant
        <p class="logoText">База актуальных профилей</p></h2>
    </div>
  </div>
  <div nz-col nzLg="6" nzXs="24" class="socIcons">
    <a href="https://www.instagram.com/hrassistant_kz?igsh=MTBraHYyMWEzMWozbw%3D%3D&utm_source=qr" target="_blank"><img alt="inst" src="assets/images/instagram.svg"/> </a>
    <a href="https://wa.link/cncsmm" target="_blank"><img alt="whatsapp" src="assets/images/whatsapp.svg"/> </a>
  </div>
  <div nz-col nzLg="10" nzXs="24">
    <div class="menu">
      <div class="menuItem" routerLink="" routerLinkActive="activeMenu">Работодателям</div>
      <div class="menuItem" routerLink="search" routerLinkActive="activeMenu">Поиск сотрудника</div>
      <div class="menuItem" routerLink="app" routerLinkActive="activeMenu">Соискателям</div>
    </div>
  </div>
  <div nz-col nzSpan="24">
    <br/>© 2024 ТОО «HR assistant»
  </div>
</div>
