<div nz-row>
  <div nz-col nzLg="16" nzXs="24" class="wrapper">
    <div class="candidateHeader">
      <nz-avatar [nzShape]="'square'" [nzText]="data.fullName[0]" [nzSize]="96" [nzSrc]="data.photo"></nz-avatar>
      <div class="desc">
        <h2>{{ data.fullName }}</h2>
        <p>Возраст: {{ getAge(data.birthDate) }},
          Дата рождения: {{ data.birthDate | date:'dd.MM.YYYY' }}</p>
        <p><img src="assets/images/location-01.svg"/> {{ data.cityId === 1 ? 'Астана' : 'Алматы' }}</p>
      </div>
    </div>

    <div class="contacts">
      <div class="contactItem"><img src="assets/images/phone.svg"/>

        {{ data.phone ? '+' + data.phone : '+7 *** *** ** **' }}
        <button *ngIf="!data.phone" nzSize="small" nz-button nzType="link" (click)="isVisibleTarif = true">Показать</button>
      </div>
      <div class="contactItem"><img src="assets/images/mail.svg"/>
        {{ data.email ? data.email : '************' }}
        <button *ngIf="!data.email" nzSize="small" nz-button nzType="link" (click)="isVisibleTarif = true">Показать</button>
      </div>
    </div>

    <div class="resumeBlock">
      <h2 class="position">{{ data.position }}</h2>
      <div class="aboutMe">
        <h4>Комментарии рекрутера</h4>
        <p>
          {{data.comment}}
        </p>

      </div>
      <div class="aboutMe">
        <h4>Обо мне</h4>
        <p>
          {{ data.aboutMe }}
        </p>

      </div>

      <div class="exp">
        <h4>Опыт работы: {{data.workExperienceYears}} год(а)/лет</h4>
        <div class="greyBg br20px p16" *ngFor="let exp of data.workExperience">
          <b class="companyName blue">{{exp.companyName}}</b>
          <b class="companyName">{{exp.position}}</b>
          <p class="period">{{exp.period}}</p>
          <p>{{exp.description}}</p>
        </div>
      </div>

      <div class="edu">
        <h4>Образование</h4>
        <div class="greyBg br20px p16"  *ngFor="let edu of data.education">
          <b class="companyName blue">{{edu.schoolName}}</b>
          <p class="spec"><strong>{{edu.description}}</strong><br/>
            {{edu.period}}</p>
        </div>
      </div>
      <div class="skills">
        <h4>Ключевые навыки</h4>
        <div  *ngFor="let skill of data.skills" class="skill greyBg br20px">
         {{skill}}
        </div>
      </div>
 <div class="extra">
        <h4>Дополнительная информация</h4>
        <p>{{data.additionalInfo}}</p>
      </div>
    </div>
  </div>
</div>
<app-modal-tarif [isVisible]="isVisibleTarif" (closeModal)="isVisibleTarif = false"></app-modal-tarif>
