<div nz-row>
  <div nz-col nzLg="16" nzXs="24" class="wrapper">
    <div class="candidateHeader">
      <nz-avatar [nzShape]="'square'" [nzSize]="96" [nzSrc]="data.Photo"></nz-avatar>
      <div class="desc">
        <h2>{{ data.FullName }}</h2>
        <p>{{ data.Gender === '1' ? 'Мужчина' : 'Женщина' }}, Возраст: {{ getAge(data.Birthdate) }},
          родилась {{ data.Birthdate | date:'dd.MM.YYYY' }}</p>
        <p><img src="assets/images/location-01.svg"/> {{ data.CityId === 1 ? 'Астана' : 'Алмата' }}</p>
      </div>
    </div>

    <div class="contacts">
      <div class="contactItem"><img src="assets/images/phone.svg"/>

        {{ data.Phone ? data.Phone : '+7 *** *** ** **' }}
        <button *ngIf="!data.Phone" nzSize="small" nz-button nzType="link" (click)="isVisibleTarif = true">Показать</button>
      </div>
      <div class="contactItem"><img src="assets/images/mail.svg"/>
        {{ data.Email ? data.Email : '************' }}
        <button *ngIf="!data.Email" nzSize="small" nz-button nzType="link" (click)="isVisibleTarif = true">Показать</button>
      </div>
    </div>

    <div class="resumeBlock">
      <h2>{{ data.Information }}</h2>
      <div class="aboutMe">
        <h4>Категории</h4>
        <nz-tag  [nzColor]="'blue'" *ngFor="let cat of data.categories"> {{ renderCats(cat) }}</nz-tag>

      </div>

      <div class="exp">
        <h4>Опыт работы</h4>
        <div class="greyBg br20px p16" *ngFor="let exp of data.workExperience">
          <b class="companyName blue">{{exp.EmployerName}}</b>
          <p class="period">{{exp.Period}}</p>
          <p>{{exp.Description}}</p>
        </div>
      </div>

      <div class="edu">
        <h4>Образование</h4>
        <div class="greyBg br20px p16"  *ngFor="let edu of data.education">
          <b class="companyName blue">{{edu.SchoolName}}</b>
          <p class="spec"><strong>{{edu.Specialization}}</strong><br/>
            {{edu.GraduationYear}}</p>
        </div>
      </div>
      <div class="skills">
        <h4>Ключевые навыки</h4>
        <div  *ngFor="let skill of data.skills" class="skill greyBg br20px">
         {{skill}}
        </div>
      </div>
      <div class="skills">
        <h4>Языки</h4>
        <div  *ngFor="let lang of data.languages" class="skill greyBg br20px">
          {{lang.LanguageName}} {{lang.ProficiencyLevel}}
        </div>
      </div>
<!--      <div class="extra">
        <h4>Дополнительная информация</h4>
        <p>Водительские права, Сертификаты и курсы</p>
      </div>-->
    </div>
  </div>
</div>
<app-modal-tarif [isVisible]="isVisibleTarif" (closeModal)="isVisibleTarif = false"></app-modal-tarif>
