<div nz-row>
  <div nz-col nzLg="16" nzXs="24" class="wrapper">
    <div class="candidateHeader">
      <nz-avatar [nzShape]="'square'" [nzSize]="96" nzSrc="assets/images/woman.png"></nz-avatar>
      <div class="desc">
        <h2>Алия Нурланова</h2>
        <p>Женщина, 33 года, родилась 12 сентября 1990 года</p>
        <p><img src="assets/images/location-01.svg"/> Астана</p>
      </div>
    </div>

    <div class="contacts">
      <div class="contactItem"><img src="assets/images/phone.svg"/> +7 707 *** ** **
        <button nzSize="small" nz-button nzType="link">Показать</button>
      </div>
      <div class="contactItem"><img src="assets/images/mail.svg"/> example mail.ru
        <button nzSize="small" nz-button nzType="link">Показать</button>
      </div>
    </div>

    <div class="resumeBlock">
      <h2>Официант</h2>
      <div class="aboutMe">
        <h4>Обо мне</h4>
        <p>
          Официант с многолетним опытом работы, ищущий возможность применить свои навыки и страсть к обслуживанию в
          ресторане или кафе. Обладаю высоким уровнем профессионализма и обслуживания клиентов, стремлюсь к созданию
          позитивной и гостеприимной атмосферы.
        </p>
      </div>

      <div class="exp">
        <h4>Опыт работы</h4>
        <div class="greyBg br20px p16">
          <b class="companyName blue">Казахстан Темир Жолы</b>
          <b>Продавец-консультант</b>
          <p class="period">Май 2023 - по н.в. (6 мес)</p>
          <p>Официант с многолетним опытом работы, ищущий возможность применить свои навыки и страсть к обслуживанию в
            ресторане или кафе. Обладаю высоким уровнем профессионализма и обслуживания клиентов, стремлюсь к созданию
            позитивной и гостеприимной атмосферы.</p>
        </div>

        <div class="greyBg br20px p16">
          <b class="companyName blue">Казахстан Темир Жолы</b>
          <b>Продавец-консультант</b>
          <p class="period">Май 2023 - по н.в. (6 мес)</p>
          <p>Официант с многолетним опытом работы, ищущий возможность применить свои навыки и страсть к обслуживанию в
            ресторане или кафе. Обладаю высоким уровнем профессионализма и обслуживания клиентов, стремлюсь к созданию
            позитивной и гостеприимной атмосферы.</p>
        </div>
      </div>

      <div class="edu">
        <h4>Образование</h4>
        <div class="greyBg br20px p16">
          <b class="companyName blue">Казахстан Темир Жолы</b>
          <p class="spec"><strong>Факультет информатики</strong><br/>
            Среднее 2012 - 2016</p>
        </div>
      </div>
      <div class="skills">
        <h4>Ключевые навыки</h4>
        <div class="skill greyBg br20px">
          Активные продажи
        </div>
        <div class="skill greyBg br20px">
          Активные продажи
        </div>
        <div class="skill greyBg br20px">
          Активные продажи
        </div>
        <div class="skill greyBg br20px">
          Активные продажи
        </div>
      </div>
      <div class="skills">
        <h4>Языки</h4>
        <div class="skill greyBg br20px">
          Английский
        </div>
        <div class="skill greyBg br20px">
          Английский
        </div>
      </div>
      <div class="extra">
        <h4>Дополнительная информация</h4>
        <p>Водительские права, Сертификаты и курсы</p>
      </div>
    </div>
  </div>
</div>
