<div nz-row>
  <div nz-col nzSpan="24">
    <div class="titleBlock">
      <h1>Актуальная база кандидатов, отобранных профессиональными HR-ассистентами</h1>
      <button class="moreBtn" nz-button nzType="default" (click)="checkAuth()">Получить доступ</button>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="[24,24]">
  <div nz-col nzSpan="24">
    <h2 class="title">
      Что такое HR assistant?
    </h2>
  </div>
  <div nz-col [nzLg]="{ span: 8, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
    <div class="voronka greyBg br20px">
      <h3>HR assistant </h3>
      <img src="assets/images/voronka.svg" alt="voronka"/>
      <div class="checkedProfile darkColor"><img src="assets/images/smile.svg" alt="smile">Проверенные профили</div>
    </div>
  </div>
  <div nz-col nzLg="12" nzXs="24">
    <div class="pointers">
      <div class="greyBg br20"><img src="assets/images/call.svg"/>Обзвон каждого кандидата рекрутерами</div>
      <div class="greyBg br20"><img src="assets/images/eye.svg"/>Еженедельная проверка на актуальность</div>
      <div class="greyBg br20"><img src="assets/images/Subtract.svg"/>Оценка соискателей по системе HR assitant</div>
      <div class="greyBg br20"><img src="assets/images/discount.svg"/>Самая доступная и актуальная база кандидатов в
        Казахстане
      </div>
    </div>
  </div>
  <div nz-col nzSpan="24" style="text-align: center;">
    <button nz-button nzType="primary" routerLink="search">Перейти к базе</button>
  </div>
</div>
<div nz-row [nzGutter]="[24,24]" class="totalInfo">
  <div nz-col [nzLg]="{ span: 10, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
    <div class="greyBg br20px">
      <h2><small>Более</small>5000<small>Активных кандидатов</small></h2>
    </div>
  </div>
  <div nz-col [nzLg]="{ span: 10, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
    <div class="greyBg br20px">
      <h2>10<small>HR ассистентов</small></h2>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="[24,24]" class="tarrifs">
  <div nz-col nzSpan="24">
    <h2 class="title">
      Тарифы
    </h2>
  </div>
  <div nz-col [nzLg]="{ span: 12, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
    <div class="br20px greyBg">
      <h3>Размещение вакансий</h3>
      <p>Более <b>2 500</b> кандидатов увидят<br/>вашу вакансию</p>
      <span class="price">4 990 ₸</span>
      <button class="w100" nz-button nzType="primary" (click)="showVacation = true">Разместить вакансию</button>
    </div>
  </div>
  <div nz-col [nzLg]="{ span: 12, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
    <div class="br20px greyBg">
      <h3>Доступ к базе профилей кандидатов</h3>
        <p>Получите доступ на <b>7 дней</b> <br/>для выбранных категорий</p>
      <span class="price">29 990 ₸ <b class="perCat">за категорию</b></span>
      <button class="w100" nz-button nzType="primary" (click)="checkAuth()">Получить доступ</button>
    </div>
  </div>
</div>

<div class="banner">
  <div nz-row>
    <div nz-col [nzLg]="{ span: 8, offset: 6 }" [nzXs]="{ span: 24, offset: 0 }">
      <h3>
        Подбор кандидатов под ключ
      </h3>
      <b>от 190 990 ₸</b>
    </div>
    <div nz-col [nzLg]="{ span: 8, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
      <button nz-button nzType="default" (click)="checkAuth()">Оставить заявку</button>
    </div>
  </div>
</div>

<div nz-row [nzGutter]="[24,24]" class="whyHr">
  <div nz-col nzSpan="24">
    <h2 class="title">
      Почему HR assistant?
    </h2>
  </div>

  <div nz-col nzLg="6" nzXs="24">
    <div class="greyBg br20px">
      <img src="assets/images/user.svg">
      <p>У нас не кладбище старых резюме, а только реальные соискатели</p>
    </div>
  </div>
  <div nz-col nzLg="6" nzXs="24">
    <div class="greyBg br20px">
      <img src="assets/images/staR.svg">
      <p>Подробно заполненные профили с оценкой от рекрутеров</p>
    </div>
  </div>
  <div nz-col nzLg="6" nzXs="24">
    <div class="greyBg br20px">
      <img src="assets/images/discount.svg">
      <p>Выгодные цены на все категории</p>
    </div>
  </div>
  <div nz-col nzLg="6" nzXs="24">
    <div class="greyBg br20px">
      <img src="assets/images/DOC.svg">
      <p>Отбор кандидатов с помощью бонусных тестов и анкет на первичном собеседовании</p>
    </div>
  </div>
  <button style="width: 262px; margin: 48px auto" nz-button nzType="primary" (click)="checkAuth()">Получить доступ</button>
</div>
<app-modal-tarif [isVisible]="isVisibleTarif" (closeModal)="isVisibleTarif = false"></app-modal-tarif>


<nz-modal nzWidth="900px" nzOkText="Отправить на проверку" [(nzVisible)]="showVacation" nzTitle="Добавить вакансию" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" class="job-form">
      <!-- Title -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Название вакансии">
          <nz-input-group>
            <input type="text" nz-input formControlName="title" placeholder="Название"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Salary -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Укажите зарплату!">
          <nz-input-group>
            <input type="text" nz-input formControlName="salary" placeholder="Зарплата"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- WorkSchedule -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Опишите график!">
          <nz-input-group>
            <input type="text" nz-input formControlName="workSchedule" placeholder="Расписание, рабочий график"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Responsibilities -->

      <!-- Address -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Укажите адрес!">
          <nz-input-group>
            <input type="text" nz-input formControlName="address" placeholder="Адрес"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- ContactPhone -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Укажите контактный телефон!">
          <nz-input-group>
            <input type="text" prefix="+" mask="0 (000) 000-00-00" nz-input formControlName="contactPhone" placeholder="Телефон"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- ContactWhatsApp -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Номер для связи ватсап!">
          <nz-input-group>
            <input type="text"  prefix="+" mask="0 (000) 000-00-00" nz-input formControlName="contactWhatsApp" placeholder="телефон вастап"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Author -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Название компании!">
          <nz-input-group>
            <input type="text" nz-input formControlName="author" placeholder="Компания\фирма"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- CityId -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Укажите город!">
          <input type="text" nz-input formControlName="city" placeholder="Город"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Опишите обязанности!">
          <nz-input-group>
            <textarea nz-input formControlName="responsibilities" placeholder="Обязаности"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Requirements -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Опишите требования!">
          <nz-input-group>
            <textarea nz-input formControlName="requirements" placeholder="Требования"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>

  </ng-container>
</nz-modal>
