/* You can add global styles to this file, and also import other style files */
$grey1: #676971;
$brand: #13A7DA;
$dark: #1C1C1E;
$bgGrey: #F3F3F7;
$blue: #086D8F;
@font-face {
  font-family: 'Inter-Regular';
  src: url('assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

p {
  font-family: Inter-Regular, sans-serif;
}

.pagePadding {
  padding: 0 15%;
}

h1, h2, h3, h4, b {
  font-family: Inter-Bold, sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.topPanel {
  padding: 32px 0;
  display: flex;
  align-items: center;
}

.blue {
  color: $blue;
}

.logo {
  display: flex;
  align-items: center;

  h2 {
    padding: 0;
    margin: 0 0 0 12px;
  }
}

.logoText {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

p {
  font-family: Inter-Regular, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menuItem {
  font-family: Inter-SemiBold, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  color: $grey1;
  margin-right: 32px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $brand;
  }
}

.activeMenu {
  color: $dark;
}

.loginBtn {
  img {
    margin-right: 15px;
  }
}

button span {
  font-family: Inter-SemiBold, sans-serif;
}

.footer {
  background-color: $bgGrey;
  padding: 32px 15%;
  margin-top: 60px;
}

.socIcons a {
  margin-right: 8px;
}

.greyBg {
  background-color: $bgGrey;
}

.darkColor {
  color: $dark;
}

.br20px {
  border-radius: 20px;
}

.p16 {
  padding: 16px;
}

nz-select {
  width: 100%;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 52px;
  border-radius: 13px;
  border: none;
  display: flex;
  align-items: center;
}

.ant-avatar-square {
  border-radius: 20px;
  border: 1px solid #cfcfcf;
}

.ant-modal-content {
  border-radius: 24px;
}

.ant-input {
  font-size: 16px;
  border-radius: 14px !important;
}

.ant-modal-body {
  padding: 32px;
}

.ant-input-affix-wrapper {
  background-color: #F3F3F7;
  border-radius: 18px;
  padding: 14px 10px;
}

.modalHeader {
  text-align: center;

  img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1370px) {
  .pagePadding {
    padding: 0 10%;
  }
}

@media screen and (max-width: 960px) {
  .pagePadding {
    padding: 0 5%;
    background-position: 50% 50%;
  }
  h1 {
    font-size: 24px;
    line-height: inherit;
  }
  .titleBlock {
    height: 325px !important;
    padding: 0px 5% !important;
    background-position: 50% 50%;
  }
  .moreBtn {
    margin-top: 18px !important;
  }
  h2 {
    font-size: 30px !important;
    line-height: normal;
  }
  .pointers {
    img {
      display: block;
      margin-bottom: 20px;
    }

    .br20 {
      padding: 24px 14px;
    }
  }
  .ant-btn {
    width: 100%;
  }
  .totalInfo {
    margin-top: 60px !important;
  }

  .banner {
    margin-top: 60px;
    background-position: 50% 50%;
    text-align: center;

    b {
      font-size: 42px !important;
    }

    h3 {
      color: #fff;
      font-size: 20px !important;
    }
  }
  .menuItem {
    margin-bottom: 6px;
  }
  .footer {
    padding: 30px 5%;
  }
}
