<nz-spin [nzSpinning]="loading">
<div class="filterBlock">
  <h1>
    3 976 резюме по городу Астана
  </h1>
  <nz-select nzPlaceHolder="Город" [(ngModel)]="cityId" (ngModelChange)="getAllResumes()">
    <nz-option nzLabel="Астана" [nzValue]="1"></nz-option>
    <nz-option nzLabel="Алмата" [nzValue]="2"></nz-option>
    <nz-option nzLabel="Все" [nzValue]="0"></nz-option>
  </nz-select>
  <nz-select nzPlaceHolder="Специализация"  [(ngModel)]="categoryId" (ngModelChange)="getAllResumes()">
    <nz-option *ngFor="let cat of categories" [nzLabel]="cat.Name" [nzValue]="cat.Id"></nz-option>
    <nz-option nzLabel="Все" [nzValue]="0"></nz-option>
  </nz-select>
</div>
<div class="results" nz-row [nzGutter]="[24,24]">
  <div nz-col nzLg="6" nzXs="24" *ngFor="let item of list">
    <div class="greyBg br20px" routerLink="1">
      <nz-avatar [nzSize]="64" nzSrc="assets/images/woman.png"></nz-avatar>
      <b>{{ item.fullName }}</b>
      <p><img [src]="item.photo"/> Астана</p>
      <b class="prof">{{item.Information}}</b>
      <div class="price">от 250 000 ₸</div>
      <p class="exp">Опыт работы 4 месяца</p>
    </div>
  </div>
</div>
</nz-spin>
